body {
  background-color: rgba(245, 245, 220, 0.726);
  font-family: "Playfair Display";
}

.no-underline {
  text-decoration: none;
}

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  padding: 0.5em
}

.my-image {
  border: 5px outset rgb(157, 232, 255);
  border-radius: 10px;
}

.project-image {
  border-radius: 15px;
}

